.exercise-template {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 90vh;
}

.math-exercise,
.code-snippet {
  flex: 1 1 350px;
  padding: 1rem;
}

.code-snippet iframe {
  width: 100%;
  min-height: 500px;
  overflow-y: scroll;
}

input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.home-list {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 4rem;
  justify-content: center;
}

.home-item {
  flex: 1 2;
  min-width: 400px;
  height: 200px;
  padding: 1rem;
  box-sizing: border-box;
}
